
/* INPUT */
.react-datepicker__input-container > input {
    height: 48px;
    width: 100%;
    display: inline-block;
    border-radius: 6px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: bold;
    outline: none;
    padding: 0 8px;
    cursor: pointer;
}
.react-datepicker__input-container > input:focus {
    border: 1px solid #7C5DFA;
}

.light > .react-datepicker-wrapper > .react-datepicker__input-container > input {
    background-color: #fff;
    border: 1px solid #DFE3FA;
    color: #000;
}
.dark > .react-datepicker-wrapper > .react-datepicker__input-container > input {
    background-color: #1E2139;
    color: #fff;
}


/* CALENDAR */
.react-datepicker {
    border: none;
    box-shadow: 0 0 15px -10px #00000050;
}

.react-datepicker__header  {
    background-color: #fff;
    border-bottom: none;
}

.react-datepicker__day-names {
    display: none;
}

.react-datepicker__triangle {
    display: none;
}

.react-datepicker__current-month {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.25px;
    font-weight: bold;
}

.react-datepicker__day {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.25px;
    font-weight: bold;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.react-datepicker__day--selected {
    background-color: transparent;
    color: #7C5DFA;
}

.react-datepicker__day:hover {
    background-color: none;
}

.react-datepicker__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.react-datepicker__month {
    margin: 0;
}

.react-datepicker__navigation-icon::before {
    filter: invert(40%) sepia(9%) saturate(4743%) hue-rotate(214deg) brightness(90%) contrast(123%);
    position: absolute;
    top: 50%;
}
.react-datepicker__day--keyboard-selected {
    background-color: transparent;
    color: #000;
}

.react-datepicker__day--today:hover {
    background-color: #00000015;
}

.light > * > * > * > .react-datepicker > * > *  {
    background-color: #fff;
}
.dark > * > * > * > .react-datepicker > * > *  {
    background-color: #252945;
}
.light > * > * > * > .react-datepicker > * > * > * > *  {
    color: #252945;
}
.dark > * > * > * > .react-datepicker > * > * > * > *  {
    color: #fff;
}

.light > * > * > * > * > * > * > .react-datepicker__current-month {
    color: #000;
}
.dark > * > * > * > * > * > * > .react-datepicker__current-month {
    color: #fff;
}